---
layout: layout.liquid
---

<section class="o-grid section intro">

    <h2>More than just web development</h2>

    <p>Push to Dev provides tools and services to help agencies manage their digital projects and deliver stronger designs that take full advantage of the Web.</p>

    <p>We&rsquo;ve been working with design agencies since 2012 - and we know that making a website involves more than just the build. That&rsquo;s why we do more than just the development.</p>

    <p>Get support with every stage of your projects:</p>

    <ul>
        <li>
            Website reviews and <strong>auditing</strong>
        </li>
        <li>
            <strong></strong>Research and scoping</strong>
        </li>
        <li>
            Educating and <strong>supporting designers</strong>
        </li>
        <li>
            Communication and <strong>project management</strong>
        </li>
        <li>
            <strong>Front and back-end</strong> development
        </li>
        <li>
            <strong>Training clients</strong> to use their sites
        </li>
        <li>
            Ongoing support and <strong>maintenance</strong>
        </li>
    </ul>

    <h3>Your clients, your rules</h3>

    <p>Our tools, services and processes enhance your existing workflow. You&rsquo;ll be able to maintain the same great relationships with your clients, just at a higher degree of efficiency.

    <p>We can help your web projects run more smoothly. <a href="#contact">Why not get in touch?</a></p>

</section>

<!-- <section class="value">

    <h2><strong>We&rsquo;ll help you&hellip;</strong></h2>

    <h3>Design richer experiences:</h3>

    <div class="switcher">

        <ol>
            <li>
                <h4>Ground your designs in data</h4>
                <div class="value__icon icon-data"></div>
                <span>
                    <p>Develop a deeper understanding of your clients&rsquo; current situation, using our detailed research reports and website audits.</p>
                </span>
            </li>
            <li>
                <h4>Understand the medium</h4>
                <div class="value__icon icon-medium"></div>
                <span>
                    <p>Ensure you manage client expectations with principled development. Give your designers insight into how interfaces and components are built, with interface workshops and training.</p>
                </span>
            </li>
            <li>
                <h4>Work more efficiently</h4>
                <div class="value__icon icon-efficiency"></div>
                <span>
                    <p>Pair your designers and our developers to work alongside each other to rapidly create prototypes, test design ideas and solve problems.</p>
                </span>
            </li>
            <li>
                <h4>Review and improve</h4>
                <div class="value__icon icon-review"></div>
                <span>
                    <p>Review existing designs and prototypes to highlight potential complexities during development, and identify where more information is needed.</p>
                </span>
            </li>
        </ol>

    </div>


    <h3>Exceed your clients&rsquo; expectations:</h3>

    <div class="switcher">

        <ol>
            <li>
                <h4>Suggest better solutions</h4>
                <div class="value__icon icon-solutions"></div>
                <span>
                    <p>Challenge assumptions and identify opportunities. Work with us to analyse a project brief and we&rsquo;ll help you develop a clear quote and watertight spec.</p>
                </span>
            </li>
            <li>
                <h4>Improve communication</h4>
                <div class="value__icon icon-communication"></div>
                <span>
                    <p>Make us part of the team. We’re happy to talk to your clients in meetings, over email, or whatever best serves the project.</p>
                </span>
            </li>
            <li>
                <h4>Manage more effectively</h4>
                <div class="value__icon icon-management"></div>
                <span>
                    <p>Take control of your web projects by collaborating with our project managers to keep things moving, using your processes or our own.</p>
                </span>
            </li>
            <li>
                <h4>Streamline handovers</h4>
                <div class="value__icon icon-handovers"></div>
                <span>
                    <p>Launching a new site is big, but it doesn&rsquo;t have to be scary. We&rsquo;ll take care of preparing and launching the site. We can even train your client on how to use it.</p>
                </span>
            </li>
        </ol>

    </div>

    <h3>Deliver world-class websites:</h3>

    <div class="switcher">
    
        <ol>
            <li>
                <h4>Create custom experiences</h4>
                <div class="value__icon icon-experiences"></div>
                <span>
                    <p>Create design-led, fully bespoke websites to your clients&rsquo; exact requirements. Avoid being bound by generic off-the-shelf themes.</p>
                </span>
            </li>
            <li>
                <h4>Include everybody</h4>
                <div class="value__icon icon-accessibility"></div>
                <span>
                    <p>Embrace the open nature of the web and make sure everybody can view your sites, with accessible, high-performance components as standard.</p>
                </span>
            </li>
            <li>
                <h4>Make your clients&rsquo; lives easier</h4>
                <div class="value__icon icon-simplify"></div>
                <span>
                    <p>Understand what your clients need from their website, and create tools that reduce workload, increase efficiency and meet business needs.</p>
                </span>
            </li>
            <li>
                <h4>Provide long-term solutions</h4>
                <div class="value__icon icon-long-term"></div>
                <span>
                    <p>Offer solutions that continue meeting business needs. Work with us to keep sites secure, performant and flexible as they evolve over time.</p>
                </span>
            </li>
        </ol>

    </div>

</section>

<hr> -->

{% comment %} <section class="o-grid section options">

    <h2>Work how you want</h2>

    <ol>
        <li>
            <span>
                <h3>Ad hoc</h3>
                <p>Hire us by the hour, for small jobs and occasional tweaks.</p>
            </span>
        </li>
        <li>
            <span>
                <h3>Per project</h3>
                <p>Support every step of the way, from researching and scoping the project, to final deployment.</p>
            </span>
        </li>
        <li>
            <span>
                <h3>Monthly retainer</h3>
                <p>If you have lots of clients and ongoing work, make us part of your team.</p>
            </span>
        </li>
        <li>
            <span>
                <h3>Maintenance contract</h3>
                <p>Wherever your clients host their sites, we can help you give them the support they need with ongoing white label maintence contracts.</p>
            </span>
        </li>
    </ol>

    {% include partials/cta %}

</section> {% endcomment %}

<section class="o-grid section testimonials">

    <blockquote>
    
        <p>I was lucky enough to work with Push to Dev when building my content and digital marketing agency&rsquo;s new website. Working with Sam and the team is a dream, they are highly responsive and know web development inside out.</p>

        <p>Sam&rsquo;s background in design was also extremely helpful when it came to branding consultation. We worked closely to build and iterate on our own website, and we now highly recommend our clients to use their services too.</p>

        <cite>
            <p><strong>George Chilton</strong> &mdash; Co-Owner and Creative Director, <a href="https://hubbublabs.com/">Hubbub Labs</a></p>
        </cite>
    
    </blockquote>

</section>

{% comment %} <hr> {% endcomment %}

{% include partials/sections/experience %}

{% include partials/sections/contact %}