---
title: Thanks for getting in touch
layout: layout.liquid
---

<section class="o-grid section">

    <h1 class="page__title">{{ title }}</h1>

    <p>Your message is even now winging its way to our inbox, and we&rsquo;ll get back to you as soon as possible.</p>

    <p>Speak to you soon!</p>

</section>