//  Sections
//
//  Global styles for sections

    // main {
        
    // }

        .section {
            margin-top: var(--step-7);

            @media only screen and (max-width: 1090px) {
                margin-top: var(--step-4);
            }

            > * {
                grid-column: span 5 / -4;

                @media only screen and (max-width: 1400px) {
                    grid-column: span 7 / -3;
                }

                @media only screen and (max-width: 1090px) {
                    grid-column: 2 / -2;
                }
            }
        }