//  Site Footer

    .site-footer {
        display: grid;
        grid-template-columns: minmax(var(--step-0), var(--step-9)) repeat(12, minmax(0, 1fr)) minmax(var(--step-0), var(--step-9));
        margin-top: var(--step-9);
        padding-bottom: var(--space-double);
        font-size: var(--size-copy-x-small);

        > * {
            grid-row: 1;
        }
    }
        
    .site-footer__legal {
        display: block;
        grid-column: 2 / span 4;
        margin-bottom: var(--space-mid);
        color: var(--color-white);

        @media only screen and (max-width: 1400px) {
            grid-column: 2 / span 3;
        }

        @media only screen and (max-width: 1090px) {
            grid-column: 2 / -2;
            text-align: center;
        }
    }

    .site-footer__link {
        grid-column: 7 / span 2;
        display: block;
        margin-bottom: var(--space-threequarter);
        border: 0;

        & + a {
            grid-column: span 2 / -4;
            justify-self: end;
        }

        @media only screen and (max-width: 1400px) {
            grid-column: 6 / span 2;

            & + a {
                grid-column: span 2 / -3;
            }
        }

        @media only screen and (max-width: 1090px) {
            grid-column: 2 / -2;
            grid-row: 2;

            & + a {
                grid-column: span 2 / -2;
            }
        }
    }