//  Site Header


    .site-header {
        display: grid;
        grid-template-columns: minmax(var(--step-0), var(--step-9)) repeat(12, minmax(0, 1fr)) minmax(var(--step-0), var(--step-9));
        margin-bottom: var(--step-9);

        @media only screen and (max-width: 1090px) {
            margin-top: var(--step-4);
        }

        > * {
            grid-column: span 5 / -4;

            @media only screen and (max-width: 1400px) {
                grid-column: span 7 / -3;
            }

            @media only screen and (max-width: 1090px) {
                grid-column: 2 / -2;
            }
        }

        .sub-page & {
            grid-template-rows: auto;
            margin-bottom: 0;
        }
    }

    .site-header__nav {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: minmax(var(--step-0), var(--step-9)) repeat(12, minmax(0, 1fr)) minmax(var(--step-0), var(--step-9));
        grid-row: 1 / span 1;
        margin-top: var(--step-4);

        > * {
            position: relative;
            align-self: baseline;
            border: 0;
            font-size: var(--size-copy-x-small);

            &:nth-child(1) {
                grid-column: 2 / span 2;
                justify-self: start;
                font-size: var(--size-copy-base);
                font-weight: var(--weight-bold);

                @media only screen and (max-width: 1090px) {
                    grid-column: 2 / span 5;
                }
            }

            &:nth-child(2) {
                grid-column: 7 / span 3;
                justify-self: start;

                @media only screen and (max-width: 1400px) {
                    grid-column: 6 / span 3;
                }

                @media only screen and (max-width: 1090px) {
                    grid-column: span 5 / -2;
                    justify-self: end;
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                grid-column: span 2 / 14;
                justify-self: end;
                text-align: right;

                @media only screen and (max-width: 1090px) {
                    display: none;
                }
            }
        }

        a {
            border-bottom: 1px solid transparent;

            &:hover {
                border-color: currentColor;
            }

            &.is-current {
                border-color: currentColor;
            }
        }

        ul a {
            display: inline-block;
            height: 100%;
            margin-right: var(--step--2);
        }
    }

    .site-header__text {
        grid-column: 6 / -3;
        font-size: var(--step-2);
        max-width: 60ch;

        @media only screen and (max-width: 1090px) {
            grid-column: 2 / -2;
        }
    }

        .site-header__title {
            grid-column: 3 / -3;
            margin: var(--step-8) 0 var(--step-9);
            font-size: 6.5vw;
            line-height: 1.15;

            @media only screen and (max-width: 1550px) {
                font-size: 6vw;
            }

            @media only screen and (max-width: 1090px) {
                grid-column: 2 / -2;
                margin: var(--step-9) 0 var(--step-6);
                font-size: var(--step-6);
            }
        }