//  Site Footer

    .site-footer {
        display: grid;
        grid-template-columns: minmax(var(--space),var(--space-double)) 1fr 1fr minmax(var(--space),var(--space-double));
        padding-bottom: var(--space-double);
        font-size: var(--size-copy-x-small);
        text-align: center;
        margin-top: var(--space-landmark);

        @media only screen and (min-width: 768px) {
            grid-template-columns: var(--space-landmark) 1fr 1fr 1fr 1fr var(--space-landmark);
            margin-top: 20rem;
            column-gap: 5rem;
            text-align: left;
        }

    }
        
    .site-footer__legal {
        display: block;
        grid-column: 2 / span 2;
        margin-bottom: var(--space-mid);
        color: var(--color-white);
        font-size: var(--size-copy-xx-small);
    }

    .site-footer__links {
        grid-column: 2 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media only screen and (min-width: 768px) {
            grid-column: 4 / span 2;
            grid-template-columns: 1fr 1fr 5rem 2fr;
        }
    }

    .site-footer__link {
        display: block;
        margin-bottom: var(--space-threequarter);
        border: 0;

        @media only screen and (min-width: 768px) {
            grid-column: 2 / span 1;

            & + a {
                grid-column: 4 / span 1;
            }
        }
    }