<section class="section contact" id="contact">

    <h2>We can help you too</h2>

    <p>We can give you the freedom to deliver the quality you want to, so why not give us a try? Our services scale easily, so it&rsquo;s easy to start small and take it from there.</p>

    {% include partials/cta %}

</section>