//  Case Study

    .case-study {
        position: relative;
        // height: 100vh;
        padding-bottom: 10rem;
        grid-template-rows: auto auto auto auto 1fr;
        background-image: url('../img/hubbub.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        align-items: flex-start;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // background-color: black;
            // mix-blend-mode: color;
        }

        &::after {
            background-color: var(--color-green);
            mix-blend-mode: multiply;
            opacity: 0.4;
        }
    }

    .case-study__descriptor,
    .case-study__heading,
    .case-study__link,
    .case-study__subheading,
    .case-study__content {
        grid-column: sidebar-start / sidebar-end;
        // margin-left: var(--space-quarter);
        z-index: 1;
        
        span, a {
            color: var(--color-body);
            background-color: var(--color-pink);
            outline: var(--space-quarter) solid var(--color-pink);
        }
    }

    .case-study__descriptor {
        grid-column: 1 / -1;
        margin-top: 3rem;
        margin-bottom: var(--space-landmark);
        font-size: var(--size-h6);
        text-transform: uppercase;
        background-color: var(--color-pink);
        outline: var(--space-half) solid var(--color-pink);
        // background-image: url("data:image/svg+xml,\
        // <svg viewBox='0 0 700 100' xmlns='http://www.w3.org/2000/svg'>\
        //     <style></style>
        //     <text y='0.95em' font-size='90' fill='white' style='text-transform: uppercase; font-family: Dagny Pro;'>Case study</text>\
        // </svg>");

        // animation: slide 2s infinite;
    
        span {
            grid-column: sidebar-start / sidebar-end;
        }
    }

    // @keyframes slide {to { background-position: 0 100%; }}

    .case-study__heading {
        margin: 0 0 var(--space);
    }

    .case-study__link {
        font-family: var(--copy-font);
        font-size: var(--size-h5);
        font-weight: var(--weight-normal);
        
        a {
            border: 0;
            padding: 0;
        }
    }

    .case-study__subheading {
        font-size: var(--size-h4);
        margin: 0 0 var(--space-double);
    }

    .case-study__content {
        color: var(--color-body);
        background-color: var(--color-pink);
        padding: var(--space-half);
        outline: var(--space-quarter) solid var(--color-pink);

        > *:last-child {
            margin-bottom: 0;
        }
    }
