    .features {
        position: relative;
        margin-top: 0;
        padding-top: 6rem;
        
        // &::before {
        //     content: '
        //         <!DOCTYPE\00a0html>\
        //         <html\00a0class="no-js\00a0no-svg"\00a0lang="en">\
        //         <head>
        //     ';
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     color: var(--color-green);
        //     font-family: var(--code-font);
        //     z-index: -1;
        //     mix-blend-mode: multiply;
        //     opacity: 0.1;
        //     font-size: 100px;
        //     transform: translate(0, 1px);
        // }

        // &::after {
        //     display: block;
        //     content: "";
        //     grid-column: span 4 / main-start;
        //     grid-row: 2;
        //     align-self: flex-end;
        //     padding-bottom: 100%;
        //     background-color: var(--color-pink);
        //     clip-path: polygon(100% 100%, 100% 0, 0 100%);
        //     z-index: -1;
        //     mix-blend-mode: multiply;
        //     opacity: 0.1;
        //     transform: translate(150px, -250px);
        // }
    }

    .features__heading {
        grid-column: sidebar-start / sidebar-end;
        margin-bottom: var(--space);
        font-size: 62px;

        span {
            background-color: var(--color-green);
            color: var(--color-body);
            outline: var(--space-quarter) solid var(--color-green);
            line-height: 1.75;
        }
    }

    







//     .intro__title,
//     .intro__content:after,
//     .features-list {
//         background: none;
//         color: var(--color-text);
// background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e00099' fill-opacity='0.15'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//     }