//  Grid

    .grid {
        display: grid;
        grid-template-columns: 
        [outer-start]
            minmax(var(--space), 1fr)
            [sidebar-start]
                2fr 1fr
            [sidebar-end]
            1fr
            [main-start]
                2fr 2fr 2fr
            [main-end]
            minmax(var(--space), 1fr)
        [outer-end];
        overflow: hidden;
    }

    .section {
        margin: var(--space-landmark) auto;
    }

        .section__heading {
            grid-column: main-start / span 3;
            margin: 0 var(--space);
        }

        .section__content {
            grid-column: main-start / span 3;
            padding: var(--space);
        }



    .u-bg-light {
        background-color: hsl(0, 0%, 98%);
    }