//  Intro section

    .intro {
        grid-template-rows: calc(100vw / 36) auto 1fr auto auto auto calc(100vw / 36);
        height: 75vh;
    }

        .intro__illustration {
            grid-column: main-start / main-end;
            grid-row: 1 / -1;
            background-color: var(--color-green);
            mix-blend-mode: multiply;
            z-index: 1;
        }

        .intro__title {
            grid-column: sidebar-start / span 2;
            grid-row-start: 4;
        }
        
        .intro__content {
            grid-column: sidebar-start / span 2;
            grid-row-start: 5;
            margin-bottom: var(--space-double);
        }
        
        .intro__cta {
            grid-column: sidebar-start / span 2;
            grid-row-start: 6;
            color: var(--color-text);
        }
        