//  Site Header

    .site-header {
        grid-column: sidebar-start / -3;
        grid-row: 2;
        height: calc(100vw / 24);
        background-color: var(--color-red);
        mix-blend-mode: multiply;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--space-threequarter);
        z-index: 10;

        
        a {
            padding: 0;
            border: 0;
        }
    }

        .site-header__logo {
            font-weight: var(--weight-bold);
            color: var(--color-body);
            font-size: var(--size-copy-base);
        }

        .site-header__contact {
            margin: 0;
            text-align: right;
        }

        .site-header__email,
        .site-header__twitter {
            font-size: var(--size-copy-small);
            color: var(--color-body);
        }
