//  Site Footer

    .site-footer {
        margin-top: var(--space-double);
        padding: var(--space-double) 0;
        // border-top: 1px solid var(--color-divider);
        // text-align: center;

        &::before {
            content: "";
            display: block;
            grid-column: sidebar-start / main-end;
            grid-row: 1;
            height: var(--space-mid);
            background-color: hsl(221, 21%, 95%);
            margin-bottom: var(--space-double);
        }
    }

        .site-footer__social {
            display: flex;
            grid-column: main-start / main-end;
            
            a {
                display: block;
                margin-right: var(--space);
                padding: var(--space-half);
                border: 0;
                background-color: var(--color-pink);
                color: var(--color-body);
                line-height: 0;
            }

            svg {
                width: var(--space);
                height: var(--space);
            }

            span {
                display: none;
            }
        }

        .site-footer__legal {
            grid-column: sidebar-start / span 1;
            grid-row-start: 2;
            margin-bottom: var(--space-mid);
            // padding: 0 var(--space);
            color: var(--color-subtext);
            font-size: var(--size-copy-x-small);
            border-color: hsl(221, 21%, 85%);
            border-style: solid;
            border-width: 1px 0;
            padding: var(--space-quarter);
        }
        
        .site-footer__attributions {
            display: none;
            grid-column: sidebar-start / sidebar-end;
            grid-row-start: 2;
            padding: 0 var(--space);
            color: var(--color-subtext);
            font-size: var(--size-copy-x-small);
        }
