//  Utilities
//
//  Utility classes used in various places around the site

//  Colours

    .u-bg-grey-lt {
        background-color: $color-grey-lt;
    }


//  Alignment

    .u-text-center {
        text-align: center;
    }



//  Grid

    .u-grid {

        @supports (display: grid) {
            --columns: 2;

            display: grid;
            grid-template-columns:
                [outer-start]
                minmax(space(), 1fr) /* Flexible outer column */
                [wrapper-start]
                repeat(
                    var(--columns),
                    minmax(0, calc((var(--max-width) / var(--columns)) - 10px))
                )
                [wrapper-end]
                minmax(space(), 1fr) /* Flexible outer column */
                [outer-end];
            gap: space(half);

            @media screen and (max-width: em(600, 16)) {
                --columns: 1;
                gap: 0;
            }
        }

        @supports not (display: grid) {
            max-width: 1080px;
            margin: auto;
            overflow: hidden;
        }
    }

    .u-grid__col--first {

        @supports (display: grid) {
            grid-column: wrapper-start / span 1;
        }

        @supports not (display: grid) {
            float: left;
            width: 50%;

            @media screen and (max-width: em(600, 16)) {
                width: 100%;
            }
        }

        @media screen and (max-width: em(600, 16)) {
            margin-bottom: space(half);
        }

    }

    .u-grid__col--last {

        @supports (display: grid) {
            grid-column: span 1 / wrapper-end;
        }

        @supports not (display: grid) {
            float: right;
            width: 50%;

            @media screen and (max-width: em(600, 16)) {
                width: 100%;
            }
        }

        @media screen and (max-width: em(600, 16)) {
            margin-bottom: space(half);
        }
    }

    .u-grid__col--full {

        @supports (display: grid) {
            grid-column: wrapper-start / span 2;

            @media screen and (max-width: em(600, 16)) {
                grid-column: wrapper-start / span 1;
            }
        }
        
        @supports not (display: grid) {
            float: left;
            width: 100%;
        }

        @media screen and (max-width: em(600, 16)) {
            margin-bottom: space(half);
        }
    }


//  Widths

    .u-1-3 {
        width: 33.3333%;
    }