{% if article.post %}
    {% assign cta_link = '<a href="{{ article.article_post }}" >this post</a>' %}
{% else %}
    {% assign cta_link = 'this post' %}
{% endif %}

<div class="article-cta">

    <h2 class="h3 article-cta__title">If you enjoyed this, there's a number of things you can do:</h2>

    <p>For more of this kind of thing, subscribe to the <a href="/feed.xml" >RSS feed</a>.</p>

    <p>Send any comments or questions to <a href="mailto:hello@pushtodev.com">hello@pushtodev.com</a>, or use <a href="https://pushtodev.com#contact">the form on the home page</a>.</p>

    <p>And if you're feeling particularly generous, please like, retweet or share {{ cta_link }} on Twitter. It really helps me out.</p>

</div>