<p class="cta">
    <span class="cta__text">Email us on</span>
    <a class="cta__link" href="mailto:hello@pushtodev.com">hello@pushtodev.com</a>
    <svg class="cta__arrow" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 95 84.4" xml:space="preserve"><path fill="#ffffff" d="M52.8 84.4L95 42.2 52.8 0 40.5 12.3l21.3 21.2H0v17.4h61.8L40.5 72.1z"/></svg>
</p>