<footer class="site-footer" role="complementary">

    <span class="site-footer__legal">
        <strong>&copy; 2019. Push to Dev is incorporated in the Isle of Man #127449C</strong><br>
        Icons created by Srinivas Agra, i cons, Aneeque Ahmed, SBTS, Adrien Coquet, Alice Design, Aneeque Ahmed, tezar tantular, Wichai Wi, Khalay Chio and iconeu from <a href="https://thenounproject.com">The Noun Project</a>
    </span>

    <div class="site-footer__links">
        <a class="site-footer__link" href="https://twitter.com/pushtodev" target="_blank">
            @pushtodev
        </a>
        <a class="site-footer__link" href="mailto:hello@pushtodev.com" target="_blank">
            hello@pushtodev.com
        </a>
    </div>

</footer>