<footer class="site-footer" role="complementary">

    <span class="site-footer__legal">
        <strong>&copy; 2019. Push to Dev is incorporated in the Isle of Man #127449C</strong>
    </span>

    {% comment %} <div class="site-footer__links"> {% endcomment %}
        <a class="site-footer__link" href="https://twitter.com/pushtodev" target="_blank">
            @pushtodev
        </a>
        <a class="site-footer__link" href="mailto:hello@pushtodev.com" target="_blank">
            hello@pushtodev.com
        </a>
    {% comment %} </div> {% endcomment %}

</footer>