<header class="site-header" role="banner">

    <nav class="site-header__nav">

        <a class="site-header__nav-link {% if page.url == '/' %}is-current{% endif %}" href="/">Push to Dev</a>
        <ul class="o-list--inline">
            <li><a class="site-header__nav-link {% if page.url contains '/articles' %}is-current{% endif %}" href="/articles">Articles</a></li>
            <li><a class="site-header__nav-link" href="#contact">Contact</a></li>
        </ul>
        
        <a class="site-header__nav-link" href="mailto:hello@pushtodev.com">hello@pushtodev.com</a>
        <a class="site-header__nav-link" href="https://twitter.com/pushtodev">@pushtodev.com</a>

    </nav>

    {% if page.url == '/' %}

        <h1 class="site-header__title">Web <strong>Development</strong>. <strong>Designed</strong>&nbsp;for Agencies.</h1>

        <p class="site-header__text"><strong>Push to Dev</strong> is a web development studio built for <strong>design&nbsp;agencies</strong>. Our&nbsp;remote&nbsp;team works closely with your designers to help deliver brilliant websites and outstanding results for your clients.</p>

    {% endif %}

</header>