// Page
//
// Page level styling, e.g. HTML and Body elements

    html {
        font-family: var(--copy-font);
        // font-size: var(--size-copy-base);
        font-weight: var(--weight-normal);
        line-height: var(--line-height-base);
        background-color: var(--color-body);
        color: var(--color-text);
        background-color: #23af9f;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2329766f' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

        &:after {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // z-index: 100;
            touch-action: none;
            pointer-events: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2329766f' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        }

        // @media (prefers-color-scheme: dark) {
        //     background-color: var(--color-green-dk);
        //     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2329766f' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
            
        //     &:after {
        //         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2329766f' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        //     }
        // }

    }

    body {
        font-size: var(--size-copy-base);
    }

        .site-header,
        footer,
        section {
            @supports not (display: grid) {
                max-width: var(--max-content-width);
                width: 100%;
                margin-right: auto;
                margin-left: auto;
                padding-right: var(--space);
                padding-left: var(--space);
            }
        }

        .site-header {
            @supports (display: grid) {
                grid-column: sidebar-start / main-end;

                @media only screen and (min-width: 768px) {
                    grid-row: title-start / span 4;
                }
            }
        }

        main {
            @supports (display: grid) {
                grid-column: sidebar-start / main-end;
                grid-row: main-start / main-end;
            }
        }