// Paragraphs
//
// Typographical, paragraph level styles

    p {
        max-width: 50rem;
        margin: 0 0 1em;
    }

    .lede {
        font-size: var(--size-copy-large);
        margin-bottom: 1.5em;
    }

    small {
        font-size: var(--size-copy-x-small);
        color: var(--color-subtext);
    }

    blockquote {
        display: grid;
        grid-column: 2 / -2 !important;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        margin: var(--step-0) -1rem;
        font-size: var(--size-copy-base);
        font-weight: var(--weight-normal);
        font-style: italic;

        > *:first-child {
            padding-top: var(--step-0);
            border-top: 2px solid var(--color-text);
        }

        > *:nth-last-child(2) {
            padding-bottom: var(--step-0);
            border-bottom: 2px solid var(--color-text);
        }

        p, ul, ol {
            grid-column: span 5 / -3;
            padding-left: 1rem;
            padding-right: 1rem;

            @media only screen and (max-width: 1400px) {
                grid-column: span 7 / -2;
            }

            @media only screen and (max-width: 1090px) {
                grid-column: 1 / -1;
            }
        }

        .testimonials & {
            display: block;
            grid-column: 3 / -3 !important;
            font-size: var(--size-copy-large);

            > *:first-child {
                padding-top: var(--step-1);
            }

            > *:nth-last-child(2) {
                padding-bottom: var(--step-1);
            }

            @media only screen and (max-width: 1090px) {
                grid-column: 2 / -2 !important;
            }
        }

        .testimonials & p,
        .testimonials & ul,
        .testimonials & ol {
            max-width: none;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    cite {
        grid-column: 3 / span 2;
        grid-row: 1 / span 100;
        align-self: center;
        justify-self: end;
        margin: 0;
        font-style: normal;
        font-size: var(--size-copy-x-small);
        font-weight: var(--weight-normal);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: var(--line-height-loose);

        @media only screen and (max-width: 1400px) {
            grid-column: 1 / span 3;
        }

        @media only screen and (max-width: 1090px) {
            grid-column: 1 / -1;
            grid-row: auto;
            justify-self: start;
        }

        .testimonials & {
            display: block;
            margin-top: var(--step-0);
        }
    }


    hr {
        grid-column: 2 / -4;
        margin: var(--step-7) 0;
        border: 0;
        border-bottom: 1px solid var(--color-text);

        @media only screen and (max-width: 1400px) {
            grid-column: 2 / -3;
        }

        @media only screen and (max-width: 1090px) {
            grid-column: 2 / -2;
        }

        .section &:last-child {
            margin-top: var(--space-double);
            margin-bottom: 0;

            @media only screen and (min-width: 768px) {
                margin-top: var(--space-landmark);
            }
        }
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: var(--space-double);
        row-gap: var(--space-half);
        margin: var(--space) 0;
    }

        dt {
            font-weight: var(--weight-bold);
        }