// Paragraphs
//
// Typographical, paragraph level styles

    p {
        max-width: 50rem;
        margin: 0 0 1em;
    }

    .lede {
        font-size: var(--size-copy-large);
        margin-bottom: 1.5em;
    }

    small {
        font-size: var(--size-copy-x-small);
        color: var(--color-subtext);
    }

    blockquote {
        margin: 0 0 var(--space);
        border-right: 0;
        border-left: 0;
        font-size: var(--size-copy-large);
        font-weight: var(--weight-bold);

        @media only screen and (min-width: 768px) {
            grid-column: 3 / span 3 !important;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5rem;
            font-size: var(--size-copy-large);
        }

        p {
            grid-column: 2 / span 2;
            hyphens: inherit;
            text-align: left;
        }

        p:last-of-type {
            margin-bottom: 1rem;
        }

        .article & {
            grid-column: 2 / -2 !important;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            column-gap: 0;
            margin: var(--step-0) 0;
            font-size: var(--size-copy-base);
            font-weight: var(--weight-normal);
            font-style: italic;

            > *:first-child {
                padding-top: var(--step-0);
                border-top: 2px solid var(--color-text);

                // &:before {
                //     content: "'  ";
                //     margin-left: -0.5ch;
                // }
            }

            > *:nth-last-child(2) {
                padding-bottom: var(--step-0);
                border-bottom: 2px solid var(--color-text);
            }

            // @media only screen and (min-width: 768px) {
            //     grid-column: 2 / span 4 !important;
            //     grid-template-columns: 1fr 1fr auto 1fr 1fr auto 1fr 1fr auto 1fr 1fr;
            //     column-gap: 0;
            // }

            // @media only screen and (min-width: 900px) {
            //     grid-template-columns: 1fr 1fr 2.5rem 1fr 1fr 2.5rem 1fr 1fr 2.5rem 1fr 1fr;
            // }

            // @media only screen and (min-width: 1510px) {
            //     grid-template-columns: 1fr 1fr 5rem 1fr 1fr 5rem 1fr 1fr 5rem 1fr 1fr;
            // }

            p, ul, ol {
                grid-column: span 5 / -3;
                padding-left: 1rem;
                padding-right: 1rem;

                @media only screen and (max-width: 1400px) {
                    grid-column: span 7 / -2;
                }

                @media only screen and (max-width: 1090px) {
                    grid-column: 1 / -1;
                }
            }
        }
    }

    cite {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        align-self: center;
        margin-top: var(--space-mid);
        display: inline-block;
        font-style: normal;
        font-size: var(--size-copy-x-small);
        font-weight: var(--weight-normal);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: var(--line-height-loose);

        @media only screen and (min-width: 768px) {
            margin-top: 0;
        }

        .article & {
            grid-column: 3 / span 2;
            grid-row: 1 / -1;
            justify-self: end;
            margin: 0;

            @media only screen and (max-width: 1400px) {
                grid-column: 1 / span 3;
            }

            @media only screen and (max-width: 1090px) {
                grid-column: 1 / -1;
                grid-row: auto;
                justify-self: start;
            }
        }
    }


    hr {
        width: 100%;
        margin: 0;
        border: 0;
        border-bottom: 1px solid var(--color-text);

        .article & {
            grid-column: 2 / -4;
            margin: var(--step-7) 0;

            @media only screen and (max-width: 1400px) {
                grid-column: 2 / -3;
            }

            @media only screen and (max-width: 1090px) {
                grid-column: 2 / -2;
            }
        }
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: var(--space-double);
        row-gap: var(--space-half);
        margin: var(--space) 0;
    }

        dt {
            font-weight: var(--weight-bold);
        }