//  Clearfix
//
//  A clearfix mixin
//
//  Styleguide: Tools.Clearfix

    @mixin cf {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
