---
title:              "Weekend Reading: Who Says RSS is Dead?"
date:               2020-02-07
author:             Sam Roberts
author_twitter:     pushtodev
article_post:       https://twitter.com/pushtodev/status/1225799125620359174?s=20
---

<p class="lede">It’s been an admin-heavy week. One of the joys of running a company — even a tiny one — is the sheer amount of stuff that always needs doing. My list is still fairly long, but at least it’s shorter than it was.</p>

<p>One of the more fun jobs I set myself this week was to subscribe to some RSS feeds.</p>

<p>One of my favourite things about Twitter when it was relatively new was the amount of great articles that would appear in my timeline daily. I learned a huge amount about design, development and running a business from articles I found on Twitter. That’s something that seems to have been lost over the last five or six years.</p>

<p>In the hope of recapturing something of that flow of content, I worked my way through <a href="https://personalsit.es" target="_blank">https://personalsit.es</a>, and subscribed to all the RSS feeds I could find. It’s been nice to check my feed reader (Reeder, if you’re interested) every day and find new articles sitting there for me to read.</p>

<p>On which note, I need to get an RSS feed up and running on here.</p>

<p>Anyway, on with the articles!</p>

<hr>

<h2><a href="https://utopia.fyi/" target="_blank">Utopia</a></h2>

<span>By <a href="https://twitter.com/j98" target="_blank">James Gilyead</a> and <a href="https://twitter.com/trysmudford" target="_blank">Trys Mudford</a></span>

<p>This morning, James Gilyead and Trys Mudford have unleashed <a href="https://utopia.fyi/" target="_blank">Utopia</a> on the world. Billed as a way of thinking about fluid responsive design, its aim is to help get designers and developers on the same page by helping create a system within which elements scale proportionally and fluidly.</p>

<p>I’ve only just started reading through the articles on the site, but I’m already very excited. Anything that helps streamline the workflow between designers and developers is good news in my book.</p>

<p>Also, it’s just incredibly clever. I’ve been reading Trys’s post on <a href="https://utopia.fyi/blog/fluid-custom-properties/" target="_blank">fluid custom properties</a>, and I’m very excited to try using them.</p>

<p>Just listen to this:</p>

<blockquote>

    <p>A fluid custom property is a font-size representation of a gradient or slope, set between two screen sizes, and stored as a global CSS custom property.</p>

    <p>With a predefined set of fluid custom properties at the heart of a project, we can hook onto them to create natural, breakpoint-less spacing and typography that gradually interpolates across screen sizes.</p>

    <cite>

        <a href="https://twitter.com/trysmudford" target="_blank">Trys Mudford</a>, <a href="https://utopia.fyi/blog/fluid-custom-properties/" target="_blank">Fluid Custom Properties</a>

    </cite>

</blockquote>

<hr>

<p>It’s been a bad week for software. The chaos surrounding the Iowa Caucus has made the fallibility of software very clear, in a way which surprised precisely no-one in the development community! I’ll be interested to read some of the articles that will undoubtedly come out of the situation in the upcoming weeks and months.</p>

<p>Along similar lines, <a href="https://twitter.com/yesitshanna/status/1224880743437914112?s=12" target="_blank">this Twitter thread</a> from <a href="https://twitter.com/yesitshanna" target="_blank">Hanna Alkaf</a> highlighted how unwise it is to rely on software to do jobs better suited to humans.</p>

<p>Barnes and Noble Fifth Avenue is launching a series of classic novels with “diverse” covers. They did this using AI to decide which books didn’t have clear descriptions of their main characters, and thus could be depicted as (in their opinion) a range of ethnicities.</p>

<blockquote>

    <p>We used artificial intelligence to analyze the text from 100 of the most famous titles, searching the text to see if it omitted ethnicity of primary characters. Using speech and linguistic patterns, our natural language processing (NLP) algorithms accounted for the fact that when authors describe a character, they rarely outright state their race, but often use more poetic and descriptive language.</p>

</blockquote>

<p>Of course, what algorithms can’t take into account is the context in which the books were written. As Hanna Alkaf points out,</p>

<blockquote>

    <p>The Secret Garden is a book that hinges on the premise that Mary Lennox is a peevish white girl born and raised in India by colonialist British parents.</p>

    <cite>
        <a href="https://twitter.com/yesitshanna" target="_blank">Hanna Alkaf</a>, <a href="https://twitter.com/yesitshanna/status/1224880743437914112?s=12" target="_blank">this tweet</a>
    </cite>

</blockquote>

<p>Context is vital. You can’t just change Mary Lennox’s skin colour and put a big tick in your diversity box.</p>

<p>Efforts to increase diversity can sometimes be complex and difficult to navigate, and some might argue that credit should be given to Barnes and Noble for trying. But when the effort is this tone deaf, it’s almost more insulting than not making the effort at all.</p>

<hr>

<h2><a href="https://frankchimero.com/blog/2020/gridniking/" target="_blank">Redesign: Gridniking</a></h2>
<span>By <a href="https://twitter.com/frank_chimero" target="_blank">Frank Chimero</a></span>

<blockquote>

    <p>I’m a big proponent of “just enough grid.” Grids are scaffolding, structures meant to help get the main building done. There is no need to overbuild, especially for this site. I am going to stay organized, but only just so.</p>

    <cite>
        <a href="https://twitter.com/frank_chimero" target="_blank">Frank Chimero</a>
    </cite>

</blockquote>

<p>I’ve mentioned Frank’s posts about redesigning his site in the open previously, but they’re still coming, and they’re still great. This latest article is about how Frank designed the grid for his new site, and his decision-making process strikes a fantastic balance between mathematical precision and hand-wavy, because-it-looks nice eyeballing. It’s how things work in the real world, and it’s always fun to read about.</p>

<hr>

<h2><a href="https://stuffandnonsense.co.uk/blog/52-weeks-of-inspired-design-decisions-5-bradbury-thompson" target="_blank">52 weeks of Inspired Design Decisions #5 — Bradbury Thompson</a></h2>
<span>By <a href="https://twitter.com/malarkey" target="_blank">Andy Clarke</a></span>

<p>Another one I’ve posted before, but it’s worth continuing to check in on Andy Clarke’s Inspired Design Decisions series. This week’s is number 5, inspired by Bradbury Thompson. </p>

<p>Thompson isn’t somebody I know a great deal about, but having done a quick image search after seeing this design, I might continue to dig a bit deeper.</p>

<p>I’m enjoying this series, not just for the fun and unusual (for the web) designs, but also for surfacing designers who weren’t previously on my radar.</p>

<hr>

<h2><a href="https://mrcndrw.com/" target="_blank">UI &amp; UX Design Tutorials - Marc Andrew</a></h2>
<span>By <a href="https://twitter.com/mrcndrw" target="_blank">Marc Andrew</a></span>

<p>I found Marc Andrew’s design blog this week, which aims to help Designers and Devs improve their design skills, one awesome article at a time. This is right up my street. I love anything that encourages designers and developers to learn more about each other’s disciplines, so always enjoy these sort of straightforward, practical design articles.</p>

<p>The style and tone remind me a lot of <a href="https://twitter.com/adamwathan" target="_blank">Adam Wathan</a> and <a href="https://twitter.com/steveschoger" target="_blank">Steve Schoger’s</a> work around <a href="https://twitter.com/steveschoger" target="_blank">TailwindCSS</a> and <a href="https://refactoringui.com/" target="_blank">Refactoring UI</a>.</p>