---
title:              "Weekend Reading: New Year, New Series"
date:               2020-01-17
author:             Sam Roberts
author_twitter:     pushtodev
---

<p class="lede article__lede">Weekend Reading is a weekly roundup of interesting articles I've found on the web in the preceeding week.</p>

<p>For ages, I've been bookmarking or instapapering articles I find on Twitter or on blogs. This helps me keep track of what I have read and when, and makes it easier to find things when I want to refer back to them. The Weekend Reading series is my attempt to do this in the open, partly to keep me accountable, and partly in the hope that other people might find these lists useful as well.</p>

<p>I know I get a lot out of the various newsletters I subscribe to, such as <a href="https://twitter.com/hankchizljaw">Andy Bell&rsquo;s</a> <a href="https://piccalil.li/">Picilili</a>, <a href="https://twitter.com/rachelandrew">Rachel Andrew&rsquo;s</a> <a href="http://csslayout.news/">CSS Layout News</a>, <a href="https://twitter.com/jake_bresnehan">Jake Bresnehan&rsquo;s</a> <a href="https://web-design-weekly.com/">Web Design Weekly</a> etc.</p>

<p>Starting as I mean to go on, the innaugural roundup post is a several weeks late, so actually contains posts since the start of the year.</p>

<hr>

<h2><a href="https://medium.com/fluxx-studio-notes/52-things-i-learned-in-2019-8ee483e6c816" target="_blank">52 things I learned in 2019</a></h2>

<span><a href="https://twitter.com/TomWhitwell" target="_blank">Tom Whitwell</a></span>

<p>The start of the year was rife with 2019 year in review posts. Typically, I forgot to note down most of them, but I did bookmark this one. Apologies for starting with a Medium post, but this is a great list of random, slightly off-topic facts.</p>

<blockquote>

    <p>The goal of walking 10,000 steps per day may have originated when a Japanese pedometer manufacturer noticed that the 万 symbol (which means 10,000) looks a little like someone walking. The actual health merits of that number &lsquo;have never been validated by research.&rsquo; [<a href="https://www.theatlantic.com/health/archive/2019/05/10000-steps-rule/590785/">Amanda Mull</a>]</p>

</blockquote>

<p>One thing I have learned in 2020 so far is how to click my fingers. Somewhat embarrassingly, it turns out I have been trying to use the wrong fingers (thumb and index finger rather than thumb and middle finger). I&rsquo;m thirty-six, and have been doing it wrong all my life. I just assumed there was some trick to it that I was missing; it never occurred to me that I had the actual technique wrong.</p>

<hr>

<h2><a href="https://frankchimero.com/blog/2020/perfecta-trifecta/" target="_blank">Redesign: Perfecta Trifecta</a></h2>
<span><a href="https://twitter.com/frank_chimero" target="_blank">Frank Chimero</a></span>

<blockquote>

    <p>Text accumulates: letters become words, words become sentences, sentences become paragraphs. Each choice in the design of a letter gets repeated thousands of times in a block of text, so when it comes to reading, typeface selection goes the furthest in setting the visual atmosphere.</p>

</blockquote>

<p>Fantastic article from Frank on the process of choosing a typeface for his new site. On which note I absolutely love it when people design things in the open and applaud his bravery in doing so. It&rsquo;s something I may end up doing with this site, as I keep wanting to try out new things. It&rsquo;s nerve-wracking though.</p>

<hr>

<h2><a href="https://frankchimero.com/blog/2020/burnout-list/" target="_blank">The Burnout List</a></h2>
<span>By <a href="https://twitter.com/frank_chimero" target="_blank">Frank Chimero</a></span>


<p>Another bit of bravery from Frank, this time on burnout. There are certainly parts of this that chime with me, and I imagine many people will feel the same way. His idea of angst isolation especially, is what keeps pushing me away from Twitter, before I inevitably come crawling back again.</p>

<blockquote>

    <p><strong>Angst isolation</strong>: the more of a mess the world becomes, the more it seems you can only trust yourself. World weariness triggers self-dependency, creating a feedback loop that can only end in burnout.</p>

</blockquote>

<hr>

<p>I enjoyed <a href="https://twitter.com/will_wu/status/1214808344096960513"></a>this tweet from <a href="https://twitter.com/will_wu">Will Wu</a>. This is why it&rsquo;s important to think about edge cases and empty states!</p>

<blockquote>

    <p><a href="https://twitter.com/will_wu/status/1214808344096960513">Peloton sent me my &ldquo;2019 year in review.&rdquo; They didn't design for the edge case where the user only used the Peloton one time during the whole year.</a></p>

    <cite><a href="https://twitter.com/will_wu">@will_wu</a></cite>

</blockquote>

<hr>

<h2><a href="https://codepen.io/lunamatic/pen/MBaXwB">100 days of CSS patterns</a></h2>
<span>By <a href="https://twitter.com/lunamatic">Sandra Davis</a></span>

<p>I&rsquo;m continually amazed by what people can do with just CSS. Love the imagination, the colours, the technical ability.</p>

<hr>

<h2><a href="https://t.co/NK8JM4Udt8">A short history of body copy sizes on the Web</a></h2>
<span>By <a href="https://twitter.com/fvsch">Florens Verschelde</a></span>

<blockquote>

    <p>When I started working on Web stuff around 2005, there were two extremely popular font styles for body copy:</p>

    <ul>
        <li>10px Verdana;</li>
        <li>11px Arial.</li>
    </ul>

    <p>Those two styles appeared on maybe 90 percent of professionally built sites, to be seen by users on IE5, IE5.5 and IE6 on Windows XP and earlier versions. They also looked similar, thanks to heavy font hinting, lack of font smoothing or sub-pixel rendering, and the fact that Verdana has a bigger x-height so 10px Verdana was roughly equal to 11px Arial, only with slightly wider letters.</p>

    <cite><a href="https://twitter.com/fvsch">Florens Verschelde</a></cite>

</blockquote>

<p>An enjoyable jaunt back through the changing size of body copy on the web. I built my first sites before CSS was a thing, so back then we used the browser defaults!</p>

<hr>

<h2><a href="https://designsystemchecklist.com/">Design System Checklist</a></h2>

<p>A nifty tool if you&rsquo;re making design systems, to help you plan, build and grow your design system. Covers everything from design language to tooling and project management.</p>

<hr>

<h2><a href="https://stuffandnonsense.co.uk/blog/52-weeks-of-inspired-design-decisions-2-herb-lubalin">52 weeks of Inspired Design Decisions #2 — Herb Lubalin</a></h2>
<span>By <a href="https://twitter.com/malarkey">Andy Clarke</a></span>

<p>Andy Clarke&rsquo;s series of Inspired Design Decisions continues with this design, inspired by graphic designer and typographer Herb Lubalin.</p>