//  Article pages

    .article {

    }
        
        .article__title {
            grid-column: 2 / span 2;
            margin: 3rem 0 7rem;
            font-size: 120px;
            line-height: 1.15;

            @media only screen and (min-width: 769px) {
                grid-column: 2 / span 4;
            }

            @media only screen and (max-width: 768px) {
                font-size: 70px;
                margin: 3rem 0 3rem;
            }

            @media only screen and (max-width: 468px) {
                font-size: var(--size-h1);
                margin: 3rem 0 3rem;
            }
        }
        
        .article__meta {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            margin: 0;

            @media only screen and (max-width: 1090px) {
                grid-column: 2 / -2;
                grid-row: span 1;
                margin-bottom: var(--space-mid);
            }
        }
        
            .article__datetime {
                display: inline-block;
                border-top: 3px solid var(--color-text);
                padding-top: 0.25rem;
                font-size: var(--size-h3);
                font-weight: var(--weight-bold)
            }
            
            .article__author {
                display: block;
            }

        .article__lede {
            grid-row: 2 / span 1;

            @media only screen and (max-width: 1090px) {
                grid-column: 2 / -2;
                grid-row: span 1;
            }
        }
