//  Article Listing
// 
//  Styles for the article listing page

    .articles-list {
        grid-column: 3 / -5;

        @media only screen and (max-width: 1400px) {
            grid-column: 3 / -3;
        }

        @media only screen and (max-width: 1090px) {
            grid-column: 2 / -2;
        }
    }

        .articles-list__item {
            width: 100%;
        }

            .articles-list__article {
                display: flex;
                align-items: center;
                padding: var(--space-threequarter) 0;
                border-bottom: 1px solid var(--color-text);

                .articles-list__item:last-child & {
                    border-bottom: 0;
                }
            }

                .articles-list__title {
                    order: 1;
                    margin: 0;
                    border: 0;

                    @media only screen and (max-width: 900px) {
                        font-size: var(--size-copy-base);
                    }
                }
                
                .articles-list__datetime {
                    order: 0;
                    margin-right: var(--space);
                    padding-right: var(--space);
                    border-right: 1px solid var(--color-text);
                    font-family: var(--code-font);
                    font-size: var(--size-copy-small);
                    white-space: nowrap;

                    @media only screen and (max-width: 900px) {
                        font-size: var(--size-copy-x-small);
                    }
                }
