//  Sub Pages
// 
//  Styles for sub-pages

    .page__title {
        grid-column: 3 / -5;
        margin: var(--step-0) 0 var(--step-9);
        line-height: 1.15;

        @media only screen and (max-width: 1400px) {
            grid-column: 3 / -3;
            grid-row: 1;
        }

        @media only screen and (max-width: 1090px) {
            grid-column: 2 / -2;
            margin: var(--step-9) 0 var(--step-6);
            z-index: 1;
        }
    }