// ============================================================================
//  Colours
// ============================================================================

    :root {
        --color-white:                  hsl(37, 74%, 91%);
        --color-black:                  #000;

        // Brand colours
        --color-pink:                   hsl(346, 84%, 61%);
        --color-green:                  hsl(173, 66%, 43%);
        --color-green-dk:               hsl(173, 66%, 27%);
        --color-blue:                   hsl(208, 53%, 32%);
        --color-yellow:                 hsl(38, 92%, 60%);

        // Colour uses
        --color-body:                   var(--color-green);
        --color-divider:                var(--color-blue);

        --color-headings:               hsl(324, 5%, 21%);
        --color-text:                   hsl(324, 5%, 21%);
        --color-subtext:                hsl(173, 36%, 27%);

        --color-link:                   var(--color-text);
        --color-link-visited:           var(--color-text);
        --color-link-hover:             var(--color-white);
        --color-link-focus:             var(--color-text);
        --color-link-active:            var(--color-text);

        // @media (prefers-color-scheme: dark) {
        //   --color-body:                   hsl(188, 56%, 23%);
        //   --color-headings:               hsl(173, 26%, 83%);
        //   --color-text:                   hsl(173, 26%, 83%);
        // }
    }