// ============================================================================
//  Typography
// ============================================================================

// ============================================================================
//  Typography
// ============================================================================

//  Font maps borrowed from Erskine Design, as per:
//  http://erskinedesign.com/blog/setting-typographic-scale-with-sass-maps/
//
//  Other ideas borrowed from Andrej Mlinarević, as per:
//  https://medium.com/typography/34fe2f1d2c02

    $fonts: (
        heading: (
            h1: (
                font-size: $size-h1
            ),

            h2: (
                font-size: $size-h2
            ),

            h3: (
                font-size: $size-h3
            ),

            h4: (
                font-size: $size-h4
            ),

            h5: (
                font-size: $size-h5
            ),

            h6: (
                font-size: $size-h6
            )
        ),

        copy: (
            large: (
                font-size: $size-copy-large
            ),

            base: (
                font-size: $size-copy
            ),

            small: (
                font-size: $size-copy-small
            ),

            x-small: (
                font-size: $size-copy-x-small
            )
        )
    );