// ----------------------------------------------------------------------------
//  Variables 
// ----------------------------------------------------------------------------

    :root {
    //  Font famili es
        --copy-font:                aktiv-grotesk, Helvetica, Arial, sans-serif;
        --heading-font:             aktiv-grotesk, Helvetica, Arial, sans-serif;
        --code-font:                "JetBrains Mono", "IBM Plex Mono", Consolas, Monaco, mono;

    //  Font weights
        --weight-normal:            300;
        --weight-bold:              500;

    //  Line heights
        --line-height-tight:        1.25;
        --line-height-base:         1.75;
        --line-height-loose:        1.85;

    //  Spaces
        --max-content-width:        40rem;
        --space-quarter:            0.25rem;
        --space-half:               0.5rem;
        --space-threequarter:       0.75rem;
        --space:                    1rem;
        --space-mid:                1.5rem;
        --space-double:             2rem;
        --space-landmark:           6rem;

    }

//  Breakpoints
// ----------------------------------------------------------------------------

//  Values to pass to mq-sass for use in media queries.

    $mq-breakpoints: (
        mobile:                     320px,
        tablet:                     740px,
        desktop:                    980px,
        wide:                       1300px
    );