---
title:              "Weekend Reading: Ess Vee Gee"
description:        ""
date:               2020-02-21
author:             Sam Roberts
author_twitter:     pushtodev
article_post:       
image:              "/dist/img/articles/weekend-reading/ess-vee-gee-header.jpg"
share_image:        "/dist/img/articles/weekend-reading/ess-vee-gee-header-share.jpg"
twitter_image:      "/dist/img/articles/weekend-reading/ess-vee-gee-header-twitter.jpg"
image_alt:          "SVG code showing the paths for the countries of the world."
---


<p>So far today I&rsquo;ve spent several hours organising an SVG map of the world by continent.</p>

<p>As well as exposing the limits of my geographical knowledge, it&rsquo;s also led me down a rabbit hole of searching for tiny remote islands on Google Maps, and wondering what it would be like to live there.</p>

<p>Maybe it&rsquo;s because I already live on a fairly small island that I&rsquo;m so fascinated by other, even more isolated communities.</p>

<h2><a href="https://www.antonsten.com/culture/">Understanding Team Culture</a></h2>
<span><a href="https://twitter.com/antonsten">Anton Sten</a></span>

<blockquote>

    <p>But as discussions were about to finish up, he said that &ldquo;<strong>as such an important part of the work is to help form the culture, he strongly believes that I should be on-location at least 4 days / week</strong>&rdquo;.</p>
    
    <p>I was a bit amazed to be honest. I admit that there are benefits to working in the same location, but I was baffled that people still so strongly believe that physical presence is needed in order to perform work.</p>
    
    <p>The discussions have left me wondering why this struck a chord inside of me and what I believe.</p>

    <cite><a href="https://twitter.com/antonsten">Anton Sten</a>, <a href="https://www.antonsten.com/culture/">Understanding Team Culture</a></cite>

</blockquote>

<p>Some interesting thoughts from Anton (and other members of <a href="https://superfriend.ly">SuperFriendly</a>) about what makes a team culture. This especially resonated with me as the majority of work I do is remote, and there&rsquo;s a definite difference between the cultures of the different organisations I work with, even when they&rsquo;re using the same tools to communicate (e.g. Slack and Zoom).</p>

<hr>

<h2><a href="https://cloudfour.com/thinks/some-imaginary-css/">Some Imaginary CSS</a></h2>
<span><a href="https://tylersticka.com/">Tyler Sticka</a></span>

<blockquote>

    <p>The other day I was using CSS grid and custom properties to solve some problems that would have seemed almost impossible only a year or two ago. This made me wonder: What CSS could I be writing in a few years that might seem far-fetched today?</p>

    <cite><a href="https://twitter.com/tylersticka">Tyler Sticka</a>, <a href="https://cloudfour.com/thinks/some-imaginary-css/">Some Imaginary CSS</a></cite>

</blockquote>

<p>This is fun. The obvious thing that I&rsquo;d love to see in real life is container queries, which I mentioned <a href="https://pushtodev.com/articles/weekend-reading/14-02-2020-valentines-day/">last week</a>, but there&rsquo;s a lot of good stuff in here that I&rsquo;d never thought of before, but now I&rsquo;m sad I can&rsquo;t use. Touch target sizing and a between pseudo element have now shot to the top of my list of wants.</p>

<hr>

<h2><a href="https://uxdesign.cc/lets-talk-neumorphism-and-accessibility-44a48a6ace72">Let&rsquo;s talk Neumorphism and Accessibility</a></h2>
<span><a href="https://vickyvo.me/">Uyen Vicky Vo</a></span>

<p>I always enjoy seeing the development of a new design trend, even if it&rsquo;s something I never plan to use myself. Neumorphism has been floating around quite a lot recently, and seems to have nicely divided opinion. That means lots of discussion pieces talking about the pros and cons of the style, which means lots of stuff for me to read.</p>

<blockquote>

<p>Neumorphism is a play on words based on New + Skeuomorphism. It is a style that uses blur, angle, and intensity of an object&rsquo;s shadow to highlight the object. It&rsquo;s a design that looks realistic, futuristic, modern, appealing and extremely breathtaking due to its soft shadow and overall appearance.</p>

<p>But let&rsquo;s be honest, it&rsquo;s not the most practical design for actual use. Try building and releasing a product that has used <a href="https://uxdesign.cc/neumorphism-in-user-interfaces-b47cef3bf3a6">Neumorphism</a> as its main style, and you&rsquo;re most likely going to frustrate everyone&hellip;</p>

</blockquote>

<p>In this post, Vicky Vo talks about the accessibility issues inherent in a style that tends towards low contrast. As you might expect, there are a lot.</p>

<p>Actually, the more I see of neumorphism, the less I like it.</p>

<hr>

<h2><a href="https://sebastiangreger.net/2020/02/bookmark-link-targets-usability-and-accessibility/">Link Targets</a></h2>
<span><a href="https://twitter.com/sebastiangreger">Sebastian Greger</a></span>

<blockquote>

    <p>The only arguments I&rsquo;ve ever heard for opening links in a new tab/window — despite presenting evidence from usability research — came from marketing. And it&rsquo;s always about the goal of an organisation to trick users into &ldquo;keeping them on our site&rdquo;</p>

    <cite><a href="https://twitter.com/sebastiangreger">Sebastian Greger</a>, <a href="https://sebastiangreger.net/2020/02/bookmark-link-targets-usability-and-accessibility/">Link Targets</a></cite>

</blockquote>

<p>The discussion over whether links should be set to open in a new tab/window has been ongoing for years now. Personally, I like links to open where they are, allowing me to choose whether or not to middle-click and open a new tab.</p>

<p>So far I haven&rsquo;t read much research into the usability question (although I will do so now), but I&rsquo;m inclined to agree with Sebastian that the requirement to open links in new tabs usually comes from the marketing side of a business.</p>

<hr>

<h2><a href="https://adactio.com/journal/16442">Utopia</a></h2>
<span><a href="https://twitter.com/adactio">Jeremy Keith</a>, <a href="https://adactio.com/journal/16442">Utopia</a></span>

<p>Jeremy Keith posted a quick write up of Utopia, Trys Mudford and James Gilyead&rsquo;s breakpointless fluid typography and spacing project. Both Trys and James work at Clearleft, so Jeremy has an interesting perspective here.</p>

<blockquote>

    <p>The genesis for Utopia came about after Trys and James worked together on a few different projects. It&rsquo;s all too easy to let design and development splinter off into their own caves, but on these projects, Trys and James were working (literally) side by side. This meant that they could easily articulate frustrations to one another, and more important, they could easily share their excitement.</p>

    <p>The end result of their collaboration is some very clever code. There&rsquo;s an irony here. This code could be used to discourage collaboration! After all, why would designers and developers sit down together if they can just pass these numbers back and forth?</p>

    <p>But I don&rsquo;t think that Utopia will appeal to designers and developers who work in that way. Born in the spirit of collaboration, I suspect that it will mostly benefit people who value collaboration.</p>

    <cite><a href="https://twitter.com/adactio">Jeremy Keith</a>, <a href="https://adactio.com/journal/16442">Utopia</a></cite>

</blockquote>

<p>After a succinct breakdown of the project&rsquo;s aims, Jeremy highlights some of the reasons you might want to use it on your own projects.</p>